.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App .master {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 6000px;
  padding: 0;
}

.App .master li {
  padding: 5px;
  width: 30px;
}

.App-header .inputers .break,
.App .master li.break {
  flex-basis: 100%;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.App .days li.double,
.App .Group li.double {
  background-color: #fff700;
}

.App .everything .found button,
.App .theory .first .found,
.App .days li.found,
.App .Group li.found,
.App .master li.found {
  background-color: #00ff55;
}

.App .everything .exclude button,
.App .master li.found2 {
  background-color: #022d10;
  color: #fff;
}

.App .Group li.found3,
.App .master li.found3 {
  background-color: #ff0000;
  color: #fff;
}

.App .master li[release="9PM"] {
  border-right: 1px solid #282c34;
}

.App .custom-img {
  width: 100%;
  height: auto;
  display: block;
}

.App .tv {
  overflow: scroll;
  width: 100%;
  height: 100vh;
}

.App .tv .guide {
  float: left;
  padding: 6px;
}

.App .display-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.App .display-group.result {
    height: 60px;
}

.App .display-group .master {
    width: 100%;
    justify-content: center;
}

.App .everything,
.App .theory .first,
.App .days,
.App .Group {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 160px;
  padding: 0;
  justify-content: center;
  gap: 10px;
}

.App .Group li {
  padding: 5px;
}

.App .container-days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.App .days,
.App .days li {
  width: 100px;
  display: block;
}

.App .theory {
  max-width: 80px;
}

.App .theory .first {
  width: 80px;
}

.App .everything,
.App .master.theory-1 {
  width: 100%;
  overflow-x: scroll;
}
.App .everything li {
  text-align: left;
  width: 60px;
}
.App .theory-container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.App .everything li {
  position: relative;
}
.App .everything li .react-tooltip {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #61dafb;
  border-radius: 6px;
  border: 1px solid #17596a;
  width: 300px;
  text-align: center;
}
.App .everything .found button {
  border-color: #00ff55;
  border-radius: 6px;
}
.App .everything .exclude button {
  background-color: #0a2513;
  border-radius: 6px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .inputers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.App-header h1 {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.App-header .inputers hr.break {
  border-bottom: 2px solid #fff;
  height: 1px;
  margin-bottom: 10px;
}

.App-header .inputers label {
  font-size: 14px;
  padding-bottom: 10px;
  width: 120px;
}

.App-header .inputers input {
  margin: 0 10px;
}

.App-header .inputers .break {
  height: 10px;
}

.App-header .inputers button {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 425px) {
    .App-header {
      height: auto;
    }
    .App-header .inputers {
      padding: 10px 0;
    }
    .App-header .inputers label[for="search"] {
      width: 160px;
    }
    .App-header .inputers button {
      height: 50px;
    }
    .App-header .inputers button.current {
      background-color: #383b41;
      color: #fff;
    }
    .App .master {
        width: 8880px;
    }
    .App .master.theory-1 {
      width: 200px;
      margin: 0 auto;
    }
    .App .master li {
        width: 50px;
    }
    .App .master li.guide {
        width: 30px;
    }
    .App .display-group {
        overflow: scroll;
        height: 100vh;
    }
    .App .display-group.result {
        overflow: hidden;
        height: 30px;
    }
    .App .display-group.result .master {
        padding: 0;
        margin: 0;
    }
    .App .tv {
        display: none;
        height: calc( 46vh );
    }
    .App .days li {
      font-size: 30px;
    }
}